html, body {
 height: 100%;
 margin: 0px;
}

.weeklyPicks {
}

.weeklyPicks-title {
 margin-top: 10%;
 margin-left:38%;
 margin-right: 38%;
 margin-bottom: -20px;
 padding-left: 6%;
 padding-right: 6%;
 background-color: #82AAE3;
 font-size: 15px;
}

.weeklyPicks-inside4 {
 margin-top: 1%;
 margin-left: 38%;
 margin-right: 38%;
 margin-bottom: 50%;
 padding-left: 1.5%;
 padding-right: 1%;
 padding-bottom: 1%;
 background-color: #82AAE3;
}

.footer {
 height: 22px;
 padding-left: 30px;
 position: sticky;
 bottom: 0;
 background-color: #82AAE3;
}